<header id="main-header" class="page-header text-center">
  <h1 class="site-title">
    <%= image_tag('/images/logo.svg', :class => 'logo md') %>
    <%= site_title %>
  </h1>
  <h2 class="tagline"><%= tagline %></h2>
</header>


<p class="text-center">Coming soon.</p>





