<div class="row">
  <!-- Profile sidebar -->
  <%= render :partial => 'profile', :locals => { :profile => @profile } %>
  <!-- End Profile sidebar -->

  <div class="col-xs-9">
      <%= render :partial => 'tabs', :locals => {
        :profile => @profile,
        :followings => @followings,
        :followers => @followers
      } %>
  </div>
</div>


