<header class="page-header text-center">
  <h1>Your SnapIts</h1>
</header>


<div class="row">
  <!-- Profile sidebar -->
  <%= render :partial => 'profiles/profile', :locals => { :profile => current_user.profile } %>
  <!-- End Profile sidebar -->

  <div class="col-xs-9">

    <%= render :partial => 'snap_its', :locals => { :snap_its => @snap_its } %>

  </div>
</div>


