<hr>

<div class="comments">  
  <div class="media" ng-repeat="comment in comments">
    <div class="media-left">
      <a href="#">
        <img ng-src="{{ comment.author.avatar_url }}" alt="{{ comment.author.username }}" class="media-object">
      </a>
    </div>
    <div class="media-body">
      <div ng-show="currentUserId == comment.author.id" class="pull-right">
        <a ng-click="deleteComment(comment.id)" href="javascript:void(0)">
          Delete
        </a>
      </div>
      <h4 class="media-heading">
        {{ comment.author.username }}
        <small> Posted on {{ comment.created_at | date }} </small>
      </h4>
      {{ comment.body }}
      
      <div class="likes">
        <likes parent="{type: 'comment', id: comment.id}" current-user-id="currentUserId"></likes>
      </div>
    </div>
  </div>

  <hr>

  <div ng-show="currentUserId">
    <form name="commentForm" ng-submit="createComment()" novalidate>
      <div class="form-group" ng-class="{ 'has-error': commentForm.body.$invalid }">    
        <textarea 
          name="body"
          class="form-control" 
          ng-model="formData.body"
          ng-maxlength="512"
          ng-minlength="4"
          ng-focus="initTagger(this)"
          rows="3"
        >
        </textarea>
      </div>
      <div class="text-right">    
        <button type="submit" class="btn btn-primary">
          Add Comment
        </button>
      </div>
    </form>
  </div>
</div>

