// ----------------------------------------
// Colors
// ----------------------------------------

$white: #fff;
$black: #000;
$light: #eee;
$dark: #222;

$primary: #76CE76;
$success: #78CE48;
$info: #7FC7D6;
$warning: #DFD82D;
$danger: #CD5134;

$brand-primary: $primary;
$brand-success: $success;
$brand-info:    $info;
$brand-warning: $warning;
$brand-danger:  $danger;

$state-success-text:             $success;
$state-info-text:                $info;
$state-warning-text:             $warning;
$state-danger-text:              $danger;



