// ----------------------------------------
// Nav
// ----------------------------------------

$nav-image-size: 32px;

.navbar-toggle {
    z-index:3;
}

.codesnapit-btn-container {
  position: absolute;
  width: 100%;
  height: $nav-image-size;
  left: 0;
  text-align: center;
  margin:0 auto;
  display: inline-block;
}

#main-nav {
  .btn-codesnapit {
    width: $nav-image-size * 2;
    height: $nav-image-size * 2;

    .logo {
      margin-top: 8px;
    }
    .logo-normal {
      display: none;
    }
    .logo-white {
      display: inline;
    }
    background: $primary;
    border: 1px solid $primary;
    border-radius: 50%;

    &:hover {
      background: $white;
      .logo-normal {
        display: inline;
      }
      .logo-white {
        display: none;
      }
    }
  }
}


.navbar-default .navbar-nav > li > a {
  color: $white;
}

.navbar,
.navbar-default {
  border-radius: 0;
  border-color: transparent;
  background: transparent;

  .navbar-toggle:hover {
    background: transparent;
  }

  .dropdown a {
    padding-top: 10px;
  }
}

.navbar-nav > li > .dropdown-menu {
  border-top-left-radius: 4px;
}

.navbar-toggle {
  border-width: 0px;

  &:hover {
    .icon-bar {
      background: $primary;
    }
  }
}

.navbar-brand {
  padding-top: 10px;
}

.navbar-avatar {
  width: $nav-image-size;
  height: $nav-image-size;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid $primary;

  img {
    height: 100%;
    width: auto;
    display: inline;
    margin: 0 auto;
  }
}


@media only screen and (max-width: 768px) {
  // .codesnapit-btn-container {
  //   height: $nav-image-size / 2;
  // }

  // #main-nav {
  //   .btn-codesnapit {
  //     width: $nav-image-size;
  //     height: $nav-image-size;

  //     .logo {
  //       margin-top: 4px;
  //       width: $nav-image-size / 2;
  //     }
  //   }
  // }

  #main-nav {
    .navbar-brand img {
      display: none;
    }
  }

  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: transparent;
  }
}





