// Place all the styles related to the snap_its controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#snap_its-new {
  &.modal-open .modal-lg {
    width: 90%;
  } 
}

.snap-it-photo,
#snap-it-preview {
  max-height: 900px;
  overflow-y: scroll;

  img {
    display: block;
    margin: 0 auto;
  }
}

