// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#static_pages-index {
  .snap-it-gif-container {
    max-width: 768px;
    margin: 0 auto;

    img {
      border-radius: 4px;
    }
  }

  .thumbnail.site-info {
    border: none;
  }
}

